table{
	border: 3px solid;
	border-collapse: collapse;
}

td{
	border: 2px solid red;
	border-collapse: collapse;
	height:50px ;
	text-align: center;
	min-width:130px;
	max-width:130px;
}

tr{
	width: 90%;
	margin-left: 5%;
}

.tab_entete input{
	width: 80%;
}

a{
	text-decoration: none;
	background-color: #F5A9BC;
	border: 2px solid;
	padding: 3px;

}

.entete{
	text-align: center;
	font-size: large;
	background-color: #F5A9BC;
	
}

.page-header h1{
	margin-left: 5%;
}

.container h1{
	color:red;
	text-decoration: underline;
}
