@CHARSET "UTF-8";

.data{
	border: 3px solid black;
	border-collapse: collapse;
}

.data td{
	border: 2px solid black;
	min-width: 130px;
	max-width: 130px;
	text-align: center;
	height: 40px;
}

.tab_entete input{
	width:80%;
}

.container a{
	border: 3px black solid;
	text-decoration: none;
	padding: 5px;
	cursor: pointer; 
}

.container a:visited {
	color: #000;
	text-decoration: none;
}

.container a:hover {
	color: red;
	text-decoration: none;
}

.container a:active {
	color: green;
	text-decoration: none;
}

.balise{
	text-align: center;
}

#carre{ 
	display: block;
  	width: 30px;
 	height: 30px;
  	cursor: pointer;	
	float: left;
	margin-left:5px;
}

.page-header h1 {
	margin-left: 5%;
}

.form{
	margin-left: 5%;
}

.connec{
	margin-top:10%;
	margin-left: 35%;
	width:30%;
	margin-right: 35%;
}