<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	{% load static %}
	<title>Page Genotypage</title>
    <link href="{% static "form/css/style2.css" %}" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static "form/js/main.js" %}"></script>
</head>
<body>

	<div class="infos" hidden="true">
		<h1>Colonne a sauvegarder</h1>
		<form enctype="multipart/form-data">
			<div class="form">
				<label>Tout sauvegarder</label>
				<input id="check" type="checkbox" value="all">
			</div>
		</form>
		<a href="#" id="save">Export</a>
	</div> 
	
	<div class="container">
	
		<div class="balise">
			<br>
			<a href="/">Retour</a>
			<a onclick="javascript:open_infos_genotypage();">Save</a>
			<br><br>
		</div>
		
		<table class="tab_entete data">
			<tr>
				<script type="text/javascript">
					document.write(affiche_entete("genotypage"));
					document.write(affiche_entete("prelevement"));
				</script>
				<td>Id Animal</td>
				<td>Id Preleveur</td>
			</tr>
			<tr>
				<script type="text/javascript">document.write(genere_x_text(3, "<td><input type=\"text\"></td>"));</script>
				<td><input type="text"><SELECT name="3" size="1"><OPTION>=<OPTION>&lt;=<OPTION>&gt;=</SELECT></td>
				<td><input type="text"><SELECT name="4" size="1"><OPTION>=<OPTION>&lt;=<OPTION>&gt;=</SELECT></td>
				<script type="text/javascript">document.write(genere_x_text(3, "<td><input type=\"text\"></td>"));</script>
				<td><input type="text"><SELECT name="8" size="1"><OPTION>=<OPTION>&lt;=<OPTION>&gt;=</SELECT></td>
				<script type="text/javascript">document.write(genere_x_text(2, "<td><input type=\"text\"></td>"));</script>
				<td><input type="text"><SELECT name="11" size="1"><OPTION>=<OPTION>&lt;=<OPTION>&gt;=</SELECT></td>
				<td><input type="text"><SELECT name="12" size="1"><OPTION>=<OPTION>&lt;=<OPTION>&gt;=</SELECT></td>
				<td><input type="text"><SELECT name="13" size="1"><OPTION>=<OPTION>&lt;=<OPTION>&gt;=</SELECT></td>
				<td><input type="text"><SELECT name="14" size="1"><OPTION>=<OPTION>&lt;=<OPTION>&gt;=</SELECT></td>
				<script type="text/javascript">document.write(genere_x_text(9, "<td><input type=\"text\"></td>"));</script>
			</tr>
		</table>
			
		<div id="data">
			<script type="text/javascript">
				getGenotypage([],[],[]);
			</script>
		</div>
				
	</div>

	<script type="text/javascript">
		
		document.getElementById('check').onclick = function(e) {
			for (var i = 1 ; i < $('.form input').length ; i++) {
				if( document.getElementById('check').checked ){
					$('.form input')[i].checked = true;
				}else{
					$('.form input')[i].checked = false;
				}
			}
		};
		
		document.onkeydown = function(e) {
			if(e) {
				if(e.keyCode===13) { 
				    var inputs = [];
				    for (var i = 0 ; i < $('.container input').length ; i++) {
				    	if( $('.container input')[i].type.toLowerCase() == 'text'){
				    		inputs.push($('.container input')[i].value.toUpperCase());
				    	}
				    }
				    var operateurs = [];
				    //On evite le new Array qui bug ici
				    for (var i = 0 ; i < 30 ; i++){
				    	operateurs.push(""); 
				    }
				    for (var i = 0 ; i < $('SELECT').length ; i++) {
				    	operateurs[$('SELECT')[i].name] = ($('SELECT')[i].value);
				    }
				    var indice = indice_change(inputs);
				    document.getElementById('data').innerHTML = "";
				    getGenotypage(indice,inputs,operateurs);
				}
			}
		};
		
		document.getElementById('save').onclick = function(){
			var inputs = [];
		    for (var i = 0 ; i < $('.container input').length ; i++) {
		    	if( $('.container input')[i].type.toLowerCase() == 'text'){
		    		inputs.push($('.container input')[i].value.toUpperCase());
		    	}
		    }
		    var operateurs = [];
		    //On evite le new Array qui bug ici
		    for (var i = 0 ; i < 30 ; i++){
		    	operateurs.push(""); 
		    }
		    for (var i = 0 ; i < $('SELECT').length ; i++) {
		    	operateurs[$('SELECT')[i].name] = ($('SELECT')[i].value);
		    }
		    var indice = indice_change(inputs);
		    
		    var case_cocher = [];
		    
		    for (var i = 1 ; i < $('.form input').length ; i++) {
				if( $('.form input')[i].checked ){
					case_cocher.push($('.form input')[i].value);
				}
			}

			saveData_Genoty(indice,inputs,operateurs,case_cocher);
		};
		
	</script>

</body>
</html>