<!doctype html>
<html>
<head>
	{% load static %}
	<title>Page 2</title>
    <link href="{% static "form/css/style.css" %}" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static "form/js/main.js" %}"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
</head>
<body>

	<div class="page-header">
		<h1>Insertion</h1>
	</div>

	<div class="container">
		
		<form  enctype="multipart/form-data" action="" method="post">
    			{% csrf_token %}
    			<input type="file" name="myfile">
    			<input type="submit" value="Submit" />
		</form>
	
		{% if  uploaded_file_url == 'mauvaise extension' %}
    		<h1 style="color:red;">Mauvaise extension</h1>
    	{% elif uploaded_file_url %}
  			<p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
  		{% endif %}
   		
    	<div id="tab1">
    	
    	</div>
    	
	</div>

	<script type="text/javascript">
		
	</script>
</body>
</html>

