<!doctype html>
<html>
<head>
	{% load static %}	
	<title>Page Insertion</title>
    <link href="{% static "form/css/style2.css" %}" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static "form/js/main.js" %}"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
</head>
<body>

	<div class="page-header">
		<h1>Insertion</h1>
	</div>

	<div class="container">
		<a href="/">Retour</a><br><br>
		
		<form  enctype="multipart/form-data" action="" method="post">
    		{% csrf_token %}
    		<input type="file" name="myfile" id="file" required>
    		<SELECT name="table" size="1">
				<OPTION>Animal
				<OPTION>Prelevement
				<OPTION>Genotypage
			</SELECT>
    		<input type="submit" value="Check"/>
		</form>
		
		<br>
		<table>
			<tr><td><p>Champs modifié : </p></td><td><p id="carre" style="background-color:#FE9A2E"></p></td></tr>
			<tr><td><p>Champs faux : </p></td><td><p id="carre" style="background-color: #F5A9BC"></p></td></tr>
		</table>
		
		<div class="data_tab">
			{% if data %}	
				<script type="text/javascript">document.write(data_to_html({{ data|safe }}));</script>
	  		{% endif %}
	  		
	  		<br>
	
			<div class="valider">
				{% csrf_token %}
				<input type="button" value="Valider" id="valider" onclick="insertAnimal({{data}})"/>
			</div>
		</div> 
		
		<div class="access">
		
		</div>
		
	</div>
	
	<script type="text/javascript">show_hide_class("valider")</script>
	
	{% if data_changed %}	
		<script type="text/javascript">
			color_changed_data({{ data_changed|safe }});
		</script>
	{% endif %}
	
	{% if  error_data %}	
		<script type="text/javascript">
			show_hide_class("valider");
			var valide = search_error({{ error_data }});
			if(sessionStorage.getItem('droit')){
				if (valide) {
		 			document.getElementById("valider").disabled = "true";
	 	 		}
			}else{
				document.location.href="/";
			}
		</script>
	{% endif %}
</body>
</html>

