<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	{% load static %}
	<title>Page Print</title>
    <link href="{% static "form/css/style2.css" %}" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static "form/js/main.js" %}"></script>
</head>
<body>
	<div class="infos" hidden="true">
		<h1>Colonne a sauvegarder</h1>
		<form enctype="multipart/form-data">
			<div class="form">
				<label>Tout sauvegarder</label>
				<input id="check" type="checkbox" value="all">
			</div>
		</form>
		<a href="#" id="save">Export</a>
	</div>
	
	<div class="container">
		<div class="balise">
			<br>
			<a onclick=swap(0)>Show Prelevement</a> 
			<a onclick=swap(2)>Show Animal</a>
			<a onclick=swap(3)>Show Cheptel</a>
			<a onclick=swap(4)>Show Race</a>
		 	<a onclick=swap(1)>Show Preleveur</a> 
			<br><br>
			<a onclick="javascript:open_infos_prelevement();">Save</a>
			<a href="/">Retour</a>
			<br><br>
		</div>
		<table class="tab_entete data">
			<tr>
				<td class="prelevement"><input type="text"><SELECT name="0" size="1"><OPTION>=<OPTION>&lt;=<OPTION>&gt;=</SELECT></td>
				<script type="text/javascript">document.write(genere_x_text(2, "<td class=\"prelevement\"><input type=\"text\"></td>"));</script>
				<td class="prelevement"><input type="text"><SELECT name="3" size="1"><OPTION>=<OPTION>&lt;=<OPTION>&gt;=</SELECT></td>
				<td class="prelevement"><input type="text"><SELECT name="4" size="1"><OPTION>=<OPTION>&lt;=<OPTION>&gt;=</SELECT></td>
				<td class="prelevement"><input type="text"><SELECT name="5" size="1"><OPTION>=<OPTION>&lt;=<OPTION>&gt;=</SELECT></td>
				<td class="prelevement"><input type="text"><SELECT name="6" size="1"><OPTION>=<OPTION>&lt;=<OPTION>&gt;=</SELECT></td>
				<script type="text/javascript">document.write(genere_x_text(7, "<td class=\"prelevement\"><input type=\"text\"></td>"));</script>
				<script type="text/javascript">document.write(genere_x_text(1, "<td class=\"animal\"><input type=\"text\"></td>"));</script>
				<td class="animal"><input type="text"><SELECT name="15" size="1"><OPTION>=<OPTION>&lt;=<OPTION>&gt;=</SELECT></td>
				<script type="text/javascript">document.write(genere_x_text(3, "<td class=\"animal\"><input type=\"text\"></td>"));</script>
				<td class="animal"><input type="text"><SELECT name="19" size="1"><OPTION>=<OPTION>&lt;=<OPTION>&gt;=</SELECT></td>
				<script type="text/javascript">document.write(genere_x_text(4, "<td class=\"animal\"><input type=\"text\"></td>"));</script>
				<script type="text/javascript">document.write(genere_x_text(2, "<td class=\"cheptel\"><input type=\"text\"></td>"));</script>
				<script type="text/javascript">document.write(genere_x_text(2, "<td class=\"race\"><input type=\"text\"></td>"));</script>
				<script type="text/javascript">document.write(genere_x_text(2, "<td class=\"preleveur\"><input type=\"text\"></td>"));</script>
			</tr>
			<tr>
				<script type="text/javascript">
					document.write(genere_champs_affichage());
				</script>
			</tr>
		</table>
		
		<div id="data">
			<script type="text/javascript">
				getData([],[],[]);
			</script>
		</div>

	</div>

	<script type="text/javascript">
	
		document.getElementById('check').onclick = function(e) {
			for (var i = 1 ; i < $('.form input').length ; i++) {
				if( document.getElementById('check').checked ){
					$('.form input')[i].checked = true;
				}else{
					$('.form input')[i].checked = false;
				}
			}
		};
		
		document.onkeydown = function(e) {
			if(e) {
				if(e.keyCode===13) { 
					var inputs = [];
				    for (var i = 0 ; i < $('.container input').length ; i++) {
				    	if( $('.container input')[i].type.toLowerCase() == 'text'){
				    		inputs.push($('.container input')[i].value.toUpperCase());
				    	}
				    }
				    var operateurs = [];
				    //On evite le new Array qui bug ici
				    for (var i = 0 ; i < 30 ; i++){
				    	operateurs.push(""); 
				    }
				    for (var i = 0 ; i < $('SELECT').length ; i++) {
				    	operateurs[$('SELECT')[i].name] = ($('SELECT')[i].value);
				    }
				    var indice = indice_change(inputs);
				    document.getElementById('data').innerHTML = "";
				    getData(indice,inputs,operateurs);
				}
			}
		};
		
		document.getElementById('save').onclick = function(){
			var inputs = [];
		    for (var i = 0 ; i < $('input').length ; i++) {
		    	if( $('input')[i].type.toLowerCase() == 'text'){
		    		inputs.push($('input')[i].value.toUpperCase());
		    	}
		    }
		    var operateurs = [];
		    //On evite le new Array qui bug ici
		    for (var i = 0 ; i < 30 ; i++){
		    	operateurs.push(""); 
		    }
		    for (var i = 0 ; i < $('SELECT').length ; i++) {
		    	operateurs[$('SELECT')[i].name] = ($('SELECT')[i].value);
		    }
		    var indice = indice_change(inputs);
 			var case_cocher = [];
		    
		    for (var i = 1 ; i < $('.form input').length ; i++) {
				if( $('.form input')[i].checked ){
					case_cocher.push($('.form input')[i].value);
				}
			}
			saveData(indice,inputs,operateurs,case_cocher);
		};
		
	</script>

</body>
</html>