<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	{% load static %}
	<title>Page Print</title>
    <link href="{% static "form/css/style2.css" %}" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static "form/js/main.js" %}"></script>
</head>
<body>
	
	<div class="container">
	
		<a href="#" onclick=swap(0)>Show Prelevement</a> 
		<a href="#" onclick=swap(2)>Show Animal</a>
		<a href="#" onclick=swap(3)>Show Cheptel</a>
		<a href="#" onclick=swap(4)>Show Race</a>
	 	<a href="#" onclick=swap(1)>Show Preleveur</a> 
		<br>
		<a href="#" id="save">Save</a>
		
		<table class="tab_entete data">
			<tr>
				<script type="text/javascript">
					document.write(genere_input(14, "prelevement"));
					document.write(genere_input(10, "animal"));
					document.write(genere_input(2, "race"));
					document.write(genere_input(2, "cheptel"));
					document.write(genere_input(2, "preleveur"));
				</script>
			</tr>
			<tr>
				<script type="text/javascript">
					document.write(genere_champs_affichage());
				</script>
			</tr>
		</table>
		
		<div id="data">
			<script type="text/javascript">
				getData([],[]);
			</script>
		</div>

	</div>

	<script type="text/javascript">
		
		document.onkeydown = function(e) {
			if(e) {
				if(e.keyCode===13) { 
				    var inputs = [];
				    for (var i = 0 ; i < $('input').length ; i++) {
				    	if( $('input')[i].type.toLowerCase() == 'text'){
				    		inputs.push($('input')[i].value.toUpperCase());
				    	}
				    }
				    var indice = indice_change(inputs);
				    document.getElementById('data').innerHTML = "";
				    getData(indice,inputs);
				}
			}
		};
		
		document.getElementById('save').onclick = function(){
			var inputs = [];
		    for (var i = 0 ; i < $('input').length ; i++) {
		    	if( $('input')[i].type.toLowerCase() == 'text'){
		    		inputs.push($('input')[i].value.toUpperCase());
		    	}
		    }
		    var indice = indice_change(inputs);
			saveData(indice,inputs);
		};
	</script>

</body>
</html>