<!doctype html>
<html>
<head>
	{% load static %}	
	<title>Page 3</title>
    <link href="{% static "form/css/style.css" %}" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static "form/js/main.js" %}"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
</head>
<body>
	
	<div class="page-header">
		<h1>Update</h1>
	</div>

	<div class="container">
		
		<form  enctype="multipart/form-data" action="" method="post">
    		{% csrf_token %}
    		<input type="file" name="myfile" id="file" required>
    		<input type="submit" value="Check"/>
		</form>
		
		<br>
		
		<table><tr><td><p>Champs modifié : </p></td><td><p id="carre"></p></td></tr></table>
		
		<div class="data_tab">
		
			{% if data %}	
				<script type="text/javascript">document.write(data_to_html({{ data|safe }}));</script>
	  		{% endif %}
	  		
	  		<br>
	
			<div class="valider">
				{% csrf_token %}
				<input type="button" value="Valider" id="valider" onclick="insertAnimal({{data}})"/>
			</div>
			
		</div> 
		
		<div class="access">
		
		</div>
		
	</div>
	
	<script type="text/javascript">show_hide_class("valider")</script>
	
	{% if data_changed %}	
		<script type="text/javascript">
			show_hide_class("valider");
			color_changed_data({{ data_changed|safe }});
		</script>
	{% endif %}

</body>
</html>